<div id="day-items-list" class="task-list columns large-12">
    <div class="hours-wrapper">
    <% for (var i=0; i < 24; i++){ %>
        <div class="hour-label">
            <span class="hour">
                <% if (i<10){%>0<%}%><%= i %></span>
        </div>
    <% } %>
    </div>
    <div id="minutes-wrapper">
        <% for (var i=0; i < 24; i++){ %>
        <div class="minutes quart-1">
        </div>
        <div class="minutes quart-2">
        </div>
        <div class="minutes quart-3">
        </div>
        <div class="minutes quart-4">
        </div>
        <% } %>
    </div>
</div>
